html, body {
    background-color: #2c2c34;
    font-family: system-ui;
}

#noise-bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 500%; /* Scale the noise larger */
    height: 500vh;
    background: transparent url("https://portfolio-v4-abjt14.vercel.app/assets/images/noise/noise.png") repeat 0 0;
    background-repeat: repeat;
    animation: 300ms infinite noise;
    pointer-events: none;
    opacity: 1; /* Full opacity for maximum visibility */
}

@keyframes noise {
    0%, 100% {
        background-position: 0 0;
    }
    10% {
        background-position: -5% -10%;
    }
    20% {
        background-position: -15% 5%;
    }
    30% {
        background-position: 7% -25%;
    }
    40% {
        background-position: 20% 25%;
    }
    50% {
        background-position: -25% 10%;
    }
    60% {
        background-position: 15% 5%;
    }
    70% {
        background-position: 0 15%;
    }
    80% {
        background-position: 25% 35%;
    }
    90% {
        background-position: -10% 10%;
    }
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: 10;
}

.logo-container svg {
    width: 50px;
    height: auto;
}

.logo-container svg path {
    stroke: #F2789A;
    stroke-width: 1;
    fill: none;
}

.logo-container svg circle {
    fill: #F2789A;
    stroke: none;
}
